@charset "UTF-8";
.header {
	font-family:"Adobe Text Pro";
	text-align: center;
	padding-left: 200px;
	position: sticky;
	top: 0;
	color: black;
	
}

.nav {
	font-family:"Adobe Text Pro";
	padding-top: 100px;
	float: right;
	color: black;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;

	
}

.photo-stream {
	text-align: center;
	align-items: center;
 
}