@charset "UTF-8";
.header {
	font-family:"Adobe Text Pro";
	position: sticky;
	top: 0;
	font-size: 16px;
	color: black;}

h3 {font-family:"Adobe Text Pro";
	font-size: 16px;
margin-bottom: 0}

h4 {font-family:"Adobe Text Pro";
	font-size: 16px;
margin: 0}

h5 {font-family:"Adobe Text Pro";
	font-size: 16px;
margin: 0;
text-align: right;
padding-right: 700px}

h6 {font-family:"Adobe Text Pro";
	font-size: 16px;
margin: 0;
text-align: right;
padding-right: 700px}

p {text-align: justify;
	max-width: 300px;
	font-family:"Adobe Text Pro";
	font-size: 16px;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;}

.nav {
	font-family:"Adobe Text Pro";
	padding-top: 80px;
	float: right;
	color: black;
	font-size: 14px;
	text-align: left;
	letter-spacing: 2px;
	font-weight: bold;
	text-decoration: none;}

.photo-stream {
	text-align: center;}
